.enterpriseformfields-component {
  /*
    normalize.css conflicts with the following (sets "font: inherit") when we
    remove the wrapping class specificity...
  */

  select {
    margin-bottom: 20px;
  }

  input,
  textarea {
    display: block;
    margin-top: 10px;
    padding: 8px;
    width: 100%;
  }

  textarea {
    min-height: 100px;
  }
}
