.button--logout {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: "helvetica-black";
  padding: 13px 8px 8px;
  text-transform: uppercase;
}

.button--logout:hover {
  text-decoration: underline;
}
