.status-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .status-list-item {
    cursor: pointer;
    border-bottom: 1px solid #000;

    &:hover {
      background-color: #ddd;
    }
  }
}
