.top-bar {
  $primary-color: #ff5c3e;
  $primary-color-dark: #de5138; // Darker color for hover/active states

  .site-header {
    display: flex;
  }

  background: $primary-color;
  padding: 0 10px;

  header {
    overflow: hidden;
  }

  .top-bar__title {
    color: #fff;
    flex: 1;
    float: left;
    margin: 0;
    padding: 15px 0;

    a[href] {
      color: #fff;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .nav--top {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .nav__items {
    align-items: stretch;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .nav__item {
    display: flex;
  }

  .nav__item--logout .logout-component {
      display: flex;

      .button--logout {
        align-items: center;
        display: flex;
        padding: 0 8px;

        &:focus,
        &:hover {
          background: $primary-color-dark;
        }
      }
  }

  .nav__link {
    align-items: center;
    display: flex;
    font-family: "helvetica-black";
    font-weight: 400;
    padding: 0 8px;
    text-decoration: none;
    text-transform: uppercase;

    &:focus,
    &:hover {
      background: $primary-color-dark;
      text-decoration: underline;
    }
  }

  .nav__link:link,
  .nav__link:visited {
    color: #fff;
  }
}
