.uploadlogo-component {
  margin-bottom: 20px;

  label {
    display: inline-block;
  }

  [type="file"] {
    display: none;
  }

  .logo-preview {
    cursor: pointer;
    display: block;
    height: 140px;
    margin-bottom: 20px;
    width: 140px;
  }
}
